*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #1e172f;
}
#navHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
#logoHeader img{
    height: 10vh;
}
#navHeader ul{
    display: flex;
    align-items: center;
}
#navHeader ul li{
    margin: 0 1em 0 1em;
    list-style: none;
}
#navHeader ul li a{
    color: #75717e;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
#btnHeader{
    margin: 0 1em;
}
#btnHeader button{
    cursor: pointer;
    width:7em;
    height: 3em;
    background: linear-gradient(to right, rgb(131, 50, 224), rgb(10, 140, 240));
    color: white;
    border: none;
    border-radius: 3px;
}
.inicio{
    font-family: sans-serif;
    width: 100%;
    display: flex;
    height: 40em;
}
#inicioIzquierda{
    width: 50vw;
    background-color:#2e2550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
#tituloInicio{
    color: white;
    font-size: 4.5em;
    width: 50%;
    margin-left: 2.3em;
}
#inicioIzquierda p{
    color: #e3e2e7;
    width: 45%;
    margin: 2em 0 0 8em;
}
#btnInicio{
    margin-top: 2rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18rem;
    height: 3rem;
    border: solid gray;
    border-radius: 3px;
}
#btnInicio1{
    cursor: pointer;
    width: 150px;
    height: 35px;
    color: #ec68ac;
}

#btnInicio2{
    cursor: pointer;
    width: 7em;
    height: 35px;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 5%;
}
#inicioDerecha{
    background-image: url(/images/hojasFondo.jpg);
    background-size: cover;
    width: 50vw;
}
#imageDerecha{
    display: flex;
    margin: 7em;
}
#imageDerecha img{
    height: 27em;
}
.central{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
#tituloCentral{
    display: flex;
    justify-content: center;
    margin: 1em 0 1.5em 0;
    font-size: 5rem;
    font-family: sans-serif;
    color: #f41486;
}
#contCentral{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#imageLaptop{
    margin-left: 20%;
}
#imageLaptop img{
    width: 90%;
    height: 60%;
}
#articuloCentral{
    margin-right: 20%;
}
#subTitCentral{
    font-size: 2em;
    color: #c73480;
    margin: 10px 0 50px 0;
}
#articuloCentral p{
    margin: 0 0 20px 0;
    font-size: 1.2em;
}
#subTitMark{
    color: #f41e8b;
    font-size: 1.3em;
}
#list1{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}
#list1 li{
    margin: 3px;
    list-style: none;
}
#list1 li img{
    width: 1.25em;
}
.terciario{
    font-family: sans-serif;
    color: white;
    background-color: #1e172f;
}
#inicioTer{
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tituloTer{
    margin: 30px 0 40px 0;
    font-size: 4rem;
}
#textTer{
    font-size: 1.3em;
    width: 55%;
    text-align: center;
    color: #b6b4bb;
}
.container{
    color: black;
    display: flex;
    justify-content: center
}
.litepag{
    /* text-align: center; */
    background-color: white;
    /* padding: 40px; */
    margin: 50px;
    width: 20%;
}
.imagecont{
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}
.imagecont img{
    width: 45%;
}
.tituloLite{
    color: #282240;
    margin: -20px 0 20px 0;
    display: flex;
    justify-content: center;
}
.tituloLite span{
    color: #f41486;
}
.costTer{
    margin: 20px 0;
    height: 70px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.costTerInt{
    color: #1d1d1dd7;
    font-size: 2.5em;
}
.costTerIntSmall{
    color: #919191;
    font-size: 1em;
    width: 20%;
    margin: 0 0 20px 10px;
}
.list2{
    margin: 0 0 0 30px;
}
.list2 li{
    color: #828282;
    list-style: none;
    margin: 0 0 10px 0;
}
.list2 li img{
    width: 1.25em;
}
.list2 li span{
    margin: 0 0 0 40px;
}
.textCont{
    text-align: center;
    margin: 40px 30px 0 ;
    color: #828282;
}
.btnTer{
    height: 10%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.btnTer button{
    font-size: 1em;
    color: white;
    background-color: #2e2550;
    border: none;
    border-radius: 4%;
    height: 50px;
    width: 150px;
}
#btnLite{
    background: linear-gradient(to right, rgb(235, 98, 169), rgb(244, 24, 136));
}
footer{
    font-family: sans-serif;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#textFooter{
    color: #505050;
}
#textFooter span{
    color: #f31a88;
}
#list3{
    display: flex;
}
#list3 li{
    margin: 0 10px;
    list-style: none;
}
#list3 li img{
    width: 2em;
}


@media screen and (min-width: 352px) and (max-width: 480px){
    header{
        width: 100%;
    }
    #navHeader{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    #logoHeader img{
        height: 5vh;
    }
    #navHeader ul{
        display: flex;
        flex-direction: column;
    }
    #navHeader ul li{
        margin: 1em 0;
    }
    #btnHeader{
        margin: .7em;
    }
    .inicio{
        width: 100%;
    }
    #inicioIzquierda{
        font-size: 10px;
    }
    #tituloInicio{
        font-size: 3.5em;
        width: 28%;
        display: flex;
        justify-content: flex-end;
    }
    #inicioIzquierda p{
        font-size: 1.5em;
        width: 65%;
        margin: 20px 0;
    }
    #btnInicio{
        width: 9rem;
        height: 6rem;
        margin: 0 2.5em 0 0;
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
    }
    #btnInicio1{
        width: 100px;
        height: 40px;
    }
    #btnInicio2{
        width: 5em;
    }
    #imageDerecha{
        margin: 10rem 0 0 1.3rem;
    }
    #imageDerecha img{
        width: 9em;
        height: 20em;
    }
    #contCentral{
        display: flex;
        flex-direction: column;
    }
    #tituloCentral{
        font-size: 2.5rem;
    }
    #imageLaptop{
        /* margin-left: 10%; */
        display: flex;
        justify-content: center;
        margin: 0 0 10% 0;
    }
    #imageLaptop img{
        width: 50%;
    }
    #articuloCentral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 5%;
        text-align: center;
        /* margin-right: 10%; */
    }
    #subTitCentral{
        font-size: 1.5em;
    }
    #articuloCentral p{
        font-size: 1em;
        margin-bottom: 50px;
    }
    .terciario{
        width: 100%;
    }
    #tituloTer{
        font-size: 2rem;
    }
    #textTer{
        line-height: 30px;
        font-size: 1em;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .litepag{
        width: 75%;
    }
    .imagecont img{
        width: 30%;
    }
    .tituloLite{
        font-size: 1em;
    }
    .costTer{
        font-size: 12px;
        height: 40px;
    }
    .list2 img{
        width: 1em;
    }
    .list2 li span{
        font-size: .8em;
    }
    .textCont{
        font-size: .8em;
    }
    .btnTer button{
        height: 30px;
        width: 100px;
        font-size: .8em;
    }
    footer{
        display: flex;
        font-size: .8em;
        flex-direction: column;
    }
}